.btn-master {
  width: 160px;
  height: 50px;
  padding: 14px 26px 15px 25px;
  border-radius: 10px;
  font-weight: 600;
  border: 0;
}

.btn-primary {
  @extend .btn-master;
  color: $white;
  background: $purple;
}

.btn-secondary {
  @extend .btn-master;
  color: $darpur;
  background: $sofpur;
}
