@import "./colors";
@import "./buttons";

body {
  font-family: "Rubik", sans-serif;
}

.header {
  margin-top: 100px;
  font-weight: 500;
  color: $navy;
  font-size: 46px;
  line-height: 60px;
}
.description {
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $newpur;
}

.navbar-tp {
  padding-top: 30px;

  .navbar-nav {
    li {
      padding-left: 50px;
    }
    .active {
      color: $purple !important;
      font-weight: 500;
    }

    .nav-link {
      color: $navy;
      font-weight: 400;
    }
  }
}

.sales {
  padding-top: 100px;
  padding-left: 100px;

  .brands {
    text-align: center;
    .brands-logo {
      padding-top: 70px;
      width: 724px;
    }
  }
  .copywriting {
    padding-left: 90px;
  }
}

.pricing {
  background: $lilpur;
  padding: 70px 0 70px 0;
  margin-top: 70px;

  .master-card {
    padding: 30px;
    border-radius: 32px;

    .name {
      font-size: 18px;
    }

    .price {
      font-size: 36px;
      margin-top: 16px;
      margin-bottom: 16px;
    }

    .support {
      font-size: 16px;
      margin-bottom: 40px;
    }

    .item-benefits {
      display: flex;
      margin-bottom: 21px;
      img {
        margin-right: 7px;
        width: 15px;
        height: 15px;
      }
      p {
        font-size: 16px;
        margin-top: -4px;
      }
    }

    .btn {
      width: 100%;
      margin-top: 20px;
    }
  }
  .basic-card {
    @extend .master-card;
    background: $medpur;
    .name {
      color: $navy;
    }
    .support {
      color: $navy;
    }
    .price {
      color: $navy;
    }
    .item-benefits {
      p {
        color: $navy;
      }
    }
  }

  .most-card {
    @extend .master-card;
    background: $medpur;
    .name {
      color: $navy;
    }
    .support {
      color: $supportpur;
    }
    .price {
      color: $navy;
    }
    .item-benefits {
      p {
        color: $white;
      }
    }

    .btn {
      background: $aqua;
    }
  }
}
