$purple: #563ad6;
$aqua: #3abad6;
$navy: #02044a;
$white: #ffffff;
$sofpur: #eaeaf4;
$darpur: #777790;
$medpur: #b4b5c9;
$lilpur: #f9f9fb;
$newpur: #9b9cb7;
// $font-weights: (
//   "regular": 400,
//   "medium": 500,
//   "semibold": 600,
// );

body {
  font-family: "Rubik", sans-serif;
}

.btn-master {
  width: 160px;
  height: 50px;
  padding: 14px 26px 15px 25px;
  border-radius: 10px;
  font-weight: 600;
  border: 0;
}

.btn-primary {
  @extend .btn-master;
  color: $white;
  background: $purple;
}

.btn-secondary {
  @extend .btn-master;
  color: $darpur;
  background: $sofpur;
}

.navbar-tp {
  padding-top: 30px;

  .navbar-nav {
    li {
      padding-left: 50px;
    }
    .active {
      color: $purple !important;
      font-weight: 500;
    }

    .nav-link {
      color: $navy;
      font-weight: 400;
    }
  }
}

.sales {
  padding-top: 100px;
  padding-left: 100px;
  .copywriting {
    padding-left: 90px;
    .header {
      margin-top: 100px;
      font-weight: 500;
      color: $navy;
      font-size: 46px;
      line-height: 60px;
    }
    .description {
      margin-top: 20px;
      margin-bottom: 40px;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      color: $newpur;
    }
  }
}
